[Unit]
Description=zRAM block devices swapping

[Service]
Type=oneshot
ExecStart=/usr/bin/systemd-zram start
ExecStop=/usr/bin/systemd-zram stop
RemainAfterExit=yes
Environment=COMP_ALGORITHM=lzo
Environment=FRACTION=75

[Install]
WantedBy=multi-user.target
